html{
  margin:auto;
}
#main{
  width:100%;
  height:100%;
  padding: none;

}
img{
  width: 22%;
  padding-right:3%;
}
.top{
  margin:auto;
  size: 50%;
}
.top>img{
  width:500px;
  height:500px;
}


li{
  display:inline-block;
}